.browser-page__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.browser-page__about {
  background-color: #457b9d;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.browser-page__about-profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
  background-color: #457b9d;
}

.browser-page__about-profile-photo-circle {
  padding: 50px 10px 10px 10px;
  /* -webkit-box-shadow: 6px 6px 6px 0px #545454;
  box-shadow: 6px 6px 6px 0px #545454; */
}

.browser-page__fields-of-interest {
  background-color: #457b9d;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 30px;
}

.browser-page__fields-of-interest div {
  width: 100%;
}

.browser-page__skills {
  width: 100%;
  background-image: url("/images/coding_bg_styled.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .browser-page__content {
    width: 100%;
    margin: 0;
  }

  .browser-page__about {
    flex-direction: column;
  }

  .browser-page__about-profile-photo-circle {
    padding: 15px;
  }

  .browser-page__about-profile-photo {
    width: 100%;
  }

  .browser-page__fields-of-interest {
    flex-direction: column;
    padding-bottom: 10px;
  }
}
