.browser-page__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.browser-page__about {
  background-color: #457b9d;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.browser-page__about-profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #457b9d;
}

.browser-page__about-profile-photo-circle {
  margin: 50px 10px 10px 10px;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  -webkit-box-shadow: 5px 8px 5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 5px 8px 5px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 8px 5px 1px rgba(0, 0, 0, 0.35);
}

.browser-page__fields-of-interest {
  background-color: #457b9d;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 30px;
}

.browser-page__fields-of-interest div {
  width: 100%;
}

.browser-page__skills {
  width: 100%;
  background-image: url("/images/coding_bg_styled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.browser-page__skills-heading {
  text-align: center;
  background-color: #e63946;
  color: #f1faee;
  border-top: 5px solid #f1f1f1;
  height: 60px;
  padding-top: 15px;
}

.browser-page__send-mail {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.browser-page__send-mail div {
  margin: 0px auto 0px auto;
}

@media only screen and (max-width: 768px) {
  .browser-page__content {
    width: 100%;
    margin: 0;
  }

  .browser-page__about {
    flex-direction: column;
  }

  .browser-page__about-profile-photo-circle {
    padding: 15px;
  }

  .browser-page__about-profile-photo {
    width: 100%;
  }

  .browser-page__fields-of-interest {
    flex-direction: column;
    padding-bottom: 10px;
  }

  .browser-page__send-mail {
    width: 95%;
  }
}
