.projects-carousel {
  width: 100%;
  height: 100%;
}

.projects-carousel__arrow-btn {
  background-color: #ffffff7e;
  border: none;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  padding: 5px;
}

.projects-carousel div img {
  height: 300px;
  width: 100%;
}

.projects-carousel__project-name {
  margin: 15px;
  color: #f1faee;
}

.projects-carousel__project-name a {
  padding: 5px;
  border: 2px solid #1d3557;
  border-radius: 5px;
  transition: 0.4s;
}

.projects-carousel__project-name a:hover {
  background-color: #1d3557;
}
